---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      <div style="text-align: right;">
        <h3<span style="color: var(--global-text-color-light)"> Principal Investigator </span></h3>
      </div>
      <hr>
      {% for profile in page.profiles %}
      {% if profile.type == 'pi' %}
      <div class="profile" style="width: 100%;"> {% include profile.liquid %} </div>
      {% endif %}
      {% endfor %}
      <div style="text-align: right;">
      <h3><span style="color: var(--global-text-color-light)"> Ph.D. Students </span></h3>
      </div>
      <hr>
      {% for profile in page.profiles %}
      {% if profile.type == 'phd' %}
      <div class="profile" style="width: 100%;"> {% include profile.liquid %} </div>
      {% endif %}
      {% endfor %}
      <div style="text-align: right;">
      <h3><span style="color: var(--global-text-color-light)"> MS Students </span></h3>
      </div>
      <hr>
      {% for profile in page.profiles %}
      {% if profile.type == 'ms' %}
      <div class="profile" style="width: 100%;"> {% include profile.liquid %} </div>
      {% endif %}
      {% endfor %}


    {% endif %}
  </article>
</div>
